* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: border-box;
  border-style: none;
  font-family: "Quicksand", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(90deg, #c48cb3, #e5c9d7);
  animation: moveGradient 5s infinite;
  background-size: 200% 200%;
}

/* Animation for the gradient movement */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 80%;
}

/* INPUT CONTAINER SECTION */
.input-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 5vh;
  padding: 10px;
  width: 100%;
  height: 320px;
  /* background-color: #0b1b32; */
  box-shadow: 0px 15px 20px rgb(46, 46, 46);
}

.field-container {
  display: flex;
  width: 100%;
  flex: 1;
}

.todo-deadline-input-container {
  display: flex;
  flex-direction: column;
  flex: 2.6;

  /* gap: 10px; */
}

.todo-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  padding: 10px;
  background-color: #26415e;
}

.deadline-container {
  padding: 10px;
  display: flex;
  background-color: #26415e;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.tag-priority-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #26415e;
  padding: 10px;
  gap: 5px;
}

.tag-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26415e;
  width: auto;
  height: 35px;
  gap: 5px;
  padding: 5px 10px;
}

.tagging-close i {
  transition: transform 0.3s ease; /* Ensure transition for both states */
}

.rotated {
  transform: rotate(45deg); /* Rotate the icon */
}

.tag-placeholder .tagging-close {
  padding: 0 5px;
  background-color: #e5c9d7;
}

.tag-priority-input-container {
  display: flex;
  gap: 5px;
}

.tag-container {
  background-color: #e5c9d7;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scroll */
  scrollbar-width: none; /* For Firefox, hides scrollbar */
  max-height: 150px; /* Define a fixed or max height for scrolling */
  width: 100%;
}

.tag-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}

.input-container .form-container .tagging-name {
  color: #e5c9d7;
  /* padding: 10px; */
}

.priority-container {
  padding: 10px;
  background-color: #26415e;
  flex: 1;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  flex: 1;
}

#btn_submit {
  padding: 10px;
  color: #e5c9d7;
  font-weight: 700;
  background-color: #26415e;

  width: 30%;
  transition: all 0.5s;
}

#btn_add {
  padding: 10px;
  color: #0b1b32;
  font-weight: 700;
  background-color: #e5c9d7;

  width: 30%;
  transition: all 0.5s;
}

#txt_todoName:hover,
#btn_submit:hover,
.btn_delete:hover,
.btn_edit:hover,
#btn_add:hover {
  background-color: #fff;
}

#txt_todoName,
#txt_deadline,
#txt_tagname,
#cbo_priority {
  padding: 10px;
  width: 100%;
  background-color: #e5c9d7;
  color: #0b1b32;
  font-weight: 700;
  transition: all 0.5s;
}

#txt_todoName:focus {
  color: #0b1b32;
  background-color: #fff;
}

.input-container label {
  font-weight: 700;
  color: #e5c9d7;
}
/* INPUT CONTAINER END SECTION */

/* TODO LIST CONTAINER SECTION */
.todo-container {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  overflow-y: scroll; /* Enable vertical scroll */
  scrollbar-width: none; /* For Firefox, hides scrollbar */
}

.todo-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}

.todo-placeholder {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #26415e;
  height: auto;
  padding: 10px;
  /* padding: 20px; */
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px -5px rgb(46, 46, 46);
  transition: background-color 0.3s ease-in-out;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1.5rem;
}

.task-tag-container .task-tag-placeholder {
  background-color: #e5c9d7a1;
  padding: 0.3rem 1rem;
}

.lower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 1.5rem;
  font-weight: 600;
}

.lower-container .task-deadline-container {
  flex: 1;
  text-align: end;
  color: #e5c9d7;
}

.lower-container .task-tag-container {
  display: flex;
  justify-content: flex-start;
  flex: 4;
  gap: 0.8rem;
  color: #26415e;
}

.lbl_name {
  color: #e5c9d7;
  font-weight: 700;
  width: 450px;
  text-align: center;
}

.todo-input {
  padding: 8px;
  width: 450px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  color: #0b1b32;
}

.btn_edit,
.btn_delete,
.chk_done {
  color: #0b1b32;
  font-weight: 700;
  background-color: #e5c9d7;
  padding: 8px 15px;
  transition: all 0.5s;
}

.btn_container {
  display: flex;
  gap: 10px;
}

/* TODO LIST CONTAINER END SECTION */
